body {
    color: white;
    background-color: black;
    text-align: center;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    margin-bottom: 0;
    text-transform: uppercase;
}

img {
    border: 5px solid white;
    width: 100%;
    height: auto;
}

.container{
    width: 50%;
    margin-left: 25%;
    padding-top: 50px;
}